body {
   font-family: 'Special Elite', cursiva;
   color: #011d07;
   text-align: center;
   line-height: 1.5;
   text-align: justify;
   font-style: normal;
   font-size: 16px;
   height: 100%;
   width: 100%;
}
h1 h2 {
  text-align: center;
}

#colorIcono {
  color: #8B4513;
}



.jumbotron {
   padding-top: 3rem;
   padding-bottom: 3rem;
   margin-bottom: 0;
   background-color: #fff;
 }
 @media (min-width: 768px) {
   .jumbotron {
     padding-top: 6rem;
     padding-bottom: 6rem;
   }
 }
 
 .jumbotron p:last-child {
   margin-bottom: 0;
 }
 
 .jumbotron h1 {
   font-weight: 300;
 }
 
 .jumbotron .container {
   max-width: 40rem;
 }


/*footer{
   EL PIE DE PAGINA (FOOTER) }*/
   #form {
     width: auto;
     height: auto;
   }
   .pieDePagina {
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding: 30px;
     background-color: #bfe6bf; }
    
  
   .redes--redesSociales{
     width: 30px;
     height: 30px;
   }  

   #NombreApellido {
    height: 40px;
    width: 90%;
    font-size: 15px;
    transition: all 2s;
   }

   #Mail {
    height: 40px;
    width: 90%;
    font-size: 15px;
   }

   #Comentario {
    height: 100px;
    width: 90%;
    font-size: 15px;
   }

   #barraBaja {
     display: block;
     color: rgb(15, 75, 33);
     background: rgb(195, 240, 178);
     position: fixed;
     left: 0px;
     right: 0px;
     bottom: 0px;
     height: 35px;
     z-index: 0;
     padding: 3px;
     margin-top: 5px;
    
   }

   .tabla {
    text-align: center; 
    display: flex; 
    justify-content: center;
    border-left: 0px;
    border-right: 0px;

   }
    

