body {
   font-family: 'Special Elite', cursiva;
   color: #011d07;
   text-align: center;
   line-height: 1.5;
   text-align: justify;
   font-style: normal;
   font-size: 16px;
  
}
h1 h2 {
  text-align: center;
}



.jumbotron {
   padding-top: 3rem;
   padding-bottom: 3rem;
   margin-bottom: 0;
   background-color: #fff;
 }
 @media (min-width: 768px) {
   .jumbotron {
     padding-top: 6rem;
     padding-bottom: 6rem;
   }
 }
 
 .jumbotron p:last-child {
   margin-bottom: 0;
 }
 
 .jumbotron h1 {
   font-weight: 300;
 }
 
 .jumbotron .container {
   max-width: 40rem;
 }


/*footer{
   EL PIE DE PAGINA (FOOTER) }*/
   footer .pieDePagina {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 40px;
     background-color: #bfe6bf; }
     footer .pieDePagina #FF9966
.direccion {
       border: 3px solid #8B4513;
       padding: 50px;
       margin: 20px; }
     footer .pieDePagina .formulario form {
       position: column;
       border-radius: 20px;
       border: 3px solid #8B4513;
       padding: 15px;
       margin: 20px; }
      footer .pieDePagina .formulario form input {
         height: 30px;
         width: 180px;
         transition: all 2s; }
      footer .pieDePagina .formulario form input:focus {
         height: 60px;
         width: 250px;
         font-size: 20px; }
      footer .pieDePagina .redes {
       display: flex;
       flex-direction: row;
       background-color: #99FFFF;
       padding: 10px; }
  .redes--redesSociales {
   height: 30px;
   width: 30px; }
    

